.header {
    margin:0 2.5rem;
    padding:.5rem 0;
    align-items: center;
    display:flex;
    justify-content: space-between;
}

.headerLeft, .headerRight{
    display: flex;
    align-items: center;
}

.headerRight__button {
  padding: 6px 14px;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.headerRight__button:hover {
  cursor: pointer;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

a>span{
    margin: 0 30px;
    font-size:1.3rem;
    cursor: pointer;
    color:white;
}

a>span:hover{
    color:red;
}

.header__icon{
    width:80px;
    cursor:pointer;
}

.user__avatar{
    font-size:2rem;
}

@media(max-width:620px){
    a>span{
        margin:0 15px;
        font-size:1rem
    }

}
@media (max-width:450px){
    a>span{
        margin:0 10px;
        font-size:0.8rem
    }
    .header__icon{
        width:50px;
    }
}